.playlist-container {
    display: grid;
    grid-auto-flow: row;
    overflow-y: scroll;
    height: 100%;
    padding: 5px;

}

.column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
}
.column-image {
    width: 75%;
    height: 75%;
}