.current-song-playing-container {
    display: grid;
    grid-column: 2;
    justify-content: space-evenly;
}

.selected-song-image-container {
    display: grid;
    justify-items: center;
}

.selected-song-image {
    padding: 50px;
    height: 300px;
    width: 300px;
    border-color: black;
}

.selected-song-content {
    display: grid;
    text-align: center;
    grid-auto-flow: column;
    place-items: center;

}

.current-song-progress {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 5px;

}

.player-panel {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;


}